{% comment %}
{% style %}
  .cart-shipping-status {
    padding: 5px 10px;
    margin: 0 10px;
    border: 1px solid #000;
}

.shipping__notes * {
    line-height: 1;
}
{% endstyle %}
<div class="cart-shipping-status">
  <h6>Shipping Options Available at Checkout</h6>
  <ul>
    <li>
      Standard or Express shipping: All items ship together.
    </li>
    <li>
      Split shipment: items ship as they become available in separate shipments.
    </li>
  </ul>
</div>
{% endcomment %}