{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if settings.show_currency_selector == true and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if settings.show_locale_selector == true and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

<div class="mobile-menu">
  <div class="mobile-menu__content">
    <ul class="mobile-menu__list has-margin-bottom">
      {% if settings.header_layout == 'vertical' %}
        {% for block in nav_blocks %}
          {% if block.type == 'navigation' %}
            {% assign main_menu = linklists[block.settings.main_linklist] %}
            {% render 'mobile-menu-loop', main_menu: main_menu %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% assign main_menu = linklists[section.settings.main_linklist] %}
        {% render 'mobile-menu-loop', main_menu: main_menu %}
      {% endif %}

<!--       {% if shop.customer_accounts_enabled %}
        {% comment %} Accounts {% endcomment %}
        <li>
          {% if customer %}
            {% comment %} Logout {% endcomment %}
            <a class="mobile-menu__item item-with-icon" href="{{ routes.account_url }}" >
              {% if settings.icon_style != 'text' %}
                {% render 'icon', name: 'avatar' %}
              {% endif %}
              <span class="icon-caption">
                {{ 'layout.customer.my_account' | t | escape }}
              </span>
            </a>
          {% else %}
            {% comment %} Login {% endcomment %}
            <a class="mobile-menu__item item-with-icon" href="{{ routes.account_login_url }}" >
              {% if settings.icon_style != 'text' %}
                {% render 'icon', name: 'avatar' %}
              {% endif %}
              <span class="icon-caption">
                {{ 'layout.customer.log_in' | t | escape }}
              </span>
            </a>
          {% endif %}
        </li>
      {% endif %} -->
    </ul>
    {%
      render 'localization-switcher',
      id: 'selector-form--mobile',
      additional_classes: 'selectors-form--mobile',
      currency_selector: currency_selector,
      locale_selector: locale_selector,
      show_currency: settings.show_currency_selector,
     %}
  </div> 
  <span class="nav-submenu-login-mobile">

              {% unless customer %}

			  <span class="login-dropdown-list-mobile">
                     <a class="down-drop-login-mobile" href="https://www.tarinika.com/account/login"></a>
                <div>
                <div class="svg-wrapper-navba-mobiler" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                </div>
                     <a class="login-dropdown-tag-mobile" href="https://www.tarinika.com/account/login">Login</a>
                </div>
                <div class="svg-wrapper-navbar-mobile" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
              </span>

            {% endunless %}
  
		      <span class="login-dropdown-list-mobile">
                
                <a class="down-drop-login-mobile"  href="https://www.tarinika.com/pages/wishlist" ></a>
                <div> 
                <div class="svg-wrapper-navbar-mobile" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                </div>
                <a class="login-dropdown-tag-mobile"  href="https://www.tarinika.com/pages/wishlist">Wishlist</a>
                </div>
                <div class="svg-wrapper-navbar-mobile" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
              </span>
		      <span class="login-dropdown-list-mobile">
                
                <span class="down-drop-login-mobile" onclick="openRewardsPage()" ></span>
                <div> 
                <div class="svg-wrapper-navbar-mobile" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gift"><polyline points="20 12 20 22 4 22 4 12"></polyline><rect x="2" y="7" width="20" height="5"></rect><line x1="12" y1="22" x2="12" y2="7"></line><path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path><path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path></svg>
                </div>
                <span class="login-dropdown-tag-mobile"  onclick="openRewardsPage()" >Rewards</span>
                </div>
                <div class="svg-wrapper-navbar-mobile" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
              </span>


          {% if customer %}
            <span class="login-dropdown-list-mobile">
              <a class="down-drop-login-mobile"  href="https://www.tarinika.com/account" ></a>
              <div> 
              <div class="svg-wrapper-navbar-mobile" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
              </div>
              <a class="login-dropdown-tag-mobile"  href="https://www.tarinika.com/account">My Orders</a>
              </div>
              <div class="svg-wrapper-navbar-mobile" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
              </div>
            </span>
        {% endif %}

  
{% if customer %}
  <span class="login-dropdown-list-mobile">
         <a class="down-drop-login-mobile" href="https://www.tarinika.com/account/logout"></a>
    <div>
    <div class="svg-wrapper-navbar-mobile" >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    </div>
         <a class="login-dropdown-tag-mobile" href="https://www.tarinika.com/account/logout">Logout</a>
    </div>
    <div class="svg-wrapper-navbar-mobile" >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
    </div>
  </span>
{% endif %}

		 </span>
</div>
