/* #slideshow_announcement-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 1.25;
    padding: 0.5rem 0;
    position: relative;
    background-color: #a3d2d4;
    color: black;
    height: 40px;
}

.slide_message-bar {
    position: absolute;
    width: 100%;
    height: auto;
    word-break: break-word;
    text-align: center;
    justify-content: center;
    display: grid;
    place-items: center;
    grid-template-columns: 35fr 1fr;
}

.slide_message-bar .text a {
  color: black !important;
}

.slide_message-bar .text {
  padding: 0 0.5rem;
}

.announcement-bar__close {
  margin-right: 1rem;
}

@media only screen and (max-width: 480px) {
  #slideshow_announcement-bar {
      height: 50px !important;
  }
} */

#slideshow_announcement-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 1.25;
    padding: 0.5rem 0;
    position: relative;
    background-color: #a3d2d4;
    color: black;
/*     height: 40px; */
    height: 35px;
}

.items {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    display: grid;
    word-break: break-word;
    text-align: center;
    justify-content: center;
    place-items: center;
    grid-template-columns: 35fr 1fr;
    padding: 0 0.5rem;
    height: 100%;
}

.slide_message-bar p {
  font-size: .875rem !important;
  font-family: Barlow!important;
}

/* @media only screen and (max-width: 480px) {
  #slideshow_announcement-bar {
      height: 64px !important;
  }
} */

.item.current {
    opacity: 1;
}


