


{% layout 'web-stories' %}
<script>

{%assign webStoriesData =  webStoriesData %}
</script>

<style amp-custom>
      amp-story {
        color: #fff;
      }
      amp-story-page {
        background-color: #000;
      }
      h1 {
        font-weight: bold;
        font-size: 2.875em;
        font-weight: normal;
        line-height: 1.174;
      }
      p {
        font-weight: normal;
        font-size: 1.3em;
        line-height: 1.5em;
        color: #fff;
      }
      q {
        font-weight: 300;
        font-size: 1.1em;
      }
      amp-story-grid-layer.bottom {
        align-content:end;
      }
      amp-story-grid-layer.noedge {
        padding: 0px;
      }
      amp-story-grid-layer.center-text {
        align-content: center;
      }
      .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
      }
      .banner-text {
        text-align: center;
        background-color: #000;
        line-height: 2em;
      }
    </style>
<div>
  <amp-story standalone >


<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-01-rings.png?v=1690271915"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-02-rings.png?v=1690271915"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>                  
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-03-rings.png?v=1690271915"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-04-rings.png?v=1690271914"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-05-rings.png?v=1690271916"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>                  
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-06-rings.png?v=1690271916"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->


</amp-story>
</div>

