


{% layout 'web-stories' %}
<script>

{%assign webStoriesData =  webStoriesData %}
</script>

<style amp-custom>
      amp-story {
        color: #fff;
      }
      amp-story-page {
        background-color: #000;
      }
      h1 {
        font-weight: bold;
        font-size: 2.875em;
        font-weight: normal;
        line-height: 1.174;
      }
      p {
        font-weight: normal;
        font-size: 1.3em;
        line-height: 1.5em;
        color: #fff;
      }
      q {
        font-weight: 300;
        font-size: 1.1em;
      }
      amp-story-grid-layer.bottom {
        align-content:end;
      }
      amp-story-grid-layer.noedge {
        padding: 0px;
      }
      amp-story-grid-layer.center-text {
        align-content: center;
      }
      .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
      }
      .banner-text {
        text-align: center;
        background-color: #000;
        line-height: 2em;
      }
    </style>
<div>
  <amp-story standalone >


<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-01_402bd3a6-d6b0-4ea4-9a70-f83ed3ccf8a0.png?v=1690270998"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-02_c5e5fc6e-f3af-4411-8acd-4458b29015b4.png?v=1690270997"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>                  
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-03.png?v=1690270997"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-04_d797fd5b-2006-4bf4-b76e-4dabbf633599.png?v=1690270997"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-05_edfed5c8-751c-4ae3-99e6-915d9e4df295.png?v=1690270998"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>                  
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/Stories-06.png?v=1690270998"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->


</amp-story>
</div>

