


{% layout 'web-stories' %}
<script>

{%assign webStoriesData =  webStoriesData %}
</script>

<style amp-custom>
      amp-story {
        color: #fff;
      }
      amp-story-page {
        background-color: #000;
      }
      h1 {
        font-weight: bold;
        font-size: 2.875em;
        font-weight: normal;
        line-height: 1.174;
      }
      p {
        font-weight: normal;
        font-size: 1.3em;
        line-height: 1.5em;
        color: #fff;
      }
      q {
        font-weight: 300;
        font-size: 1.1em;
      }
      amp-story-grid-layer.bottom {
        align-content:end;
      }
      amp-story-grid-layer.noedge {
        padding: 0px;
      }
      amp-story-grid-layer.center-text {
        align-content: center;
      }
      .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
      }
      .banner-text {
        text-align: center;
        background-color: #000;
        line-height: 2em;
      }
    </style>
<div>
  <amp-story standalone >


<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/NO_CODE_REQUIRED_3.png?v=1690270230"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/10_2c33daf7-ccfb-46ce-a935-661d67a678f9.png?v=1690270230"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>                  
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/12_1778206b-17e2-4d9d-86f7-eaa10a504790.png?v=1690270227"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/13_cac1bdef-01cc-4986-8680-ae9c67e88d74.png?v=1690270230"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/9_709bd012-dc2c-45cb-91df-27b8124c32ed.png?v=1690270230"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>                  
                  </amp-story-page>	
<!-- end story -->
<!-- start story -->
                  <amp-story-page id="cover" auto-advance-after="2s">
                      <amp-story-grid-layer template="fill">
                          <amp-img src="https://cdn.shopify.com/s/files/1/2026/1561/files/NO_CODE_REQUIRED_4.png?v=1690270229"
                              width="640" height="640" 
                              layout="responsive">
                          </amp-img>
                      </amp-story-grid-layer>
                      
                  </amp-story-page>	
<!-- end story -->


</amp-story>
</div>

